{% load static %}
<!DOCTYPE html>
<html lang="vn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <link rel="stylesheet" href="{% static 'assets/client/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/client/css/sass.css' %}">
    <link rel="stylesheet" href="{% static 'assets/client/css/nguoidung/layets.css' %}">
    <link rel="stylesheet" href="{% static 'assets/client/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/client/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'assets/client/css/apexchart/apexcharts.css' %}">

    <title>{% block title %}{% endblock %}</title>

    {% include 'client/navbar.html' %}
    {{ form.media }}


    {% block style %}
    <style>
        .cke_top.cke_reset_all {
            display: none;
        }

        body {
            height: 100%;
        }

        .wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }

        footer {
            flex-shrink: 0;
        }
    </style>

    {% endblock %}

</head>


<body>
    {% block body %}
    <!-- Navbar -->








    <!-- End navbar -->
    {% endblock %}

    {% block footer %}
    {% include 'client/footer.html' %}
    {% endblock %}


    <script src="{% static 'assets/client/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/client/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/client/js/main.js' %}"></script>
    <script src="{% static 'assets/client/js/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/client/js/apexchart/apexcharts.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    
    {% if request.user.is_authenticated %}
    <script src="https://js.pusher.com/7.2/pusher.min.js"></script>
    <script>

        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        const pusher = new Pusher("4dc578f3128e5c599631", {
            cluster: "ap1"
          });
        
        const channel = pusher.subscribe("{{ request.user.user_channel.first.channel }}");
        
        channel.bind('-notification', function(data) {
            alert(data.title);
            console.log(data);
            addNotification(data);
        });

    </script>  
    {% endif %}

    {% block scripts %}
      
    {% endblock %}

</body>

</html>